extends layout

block content
  h1= title
  p Welcome to #{title}

  
  p PetList
  <a href='petlist2' >The list of Pets </a>

  
 
  p Add New Pet
  <a href='newpet' > Add a Pet </a>
 
  
  p Update Pet