<div class="container customerView">
	<div class="row">
		<span class="col-md-6">Customer ID:</span> 
		<span class="col-md-6">{{ customer.customerId }}</span>
	</div>
	<div class="row">
		<span class="col-md-6">First Name:</span> 
		<span class="col-md-6">{{ customer.firstName }}</span>
	</div>
	<div class="row">
		<span class="col-md-6">Last Name:</span> 
		<span class="col-md-6">{{ customer.lastName }}</span>
	</div>
	<div class="row">
		<span class="col-md-6">Phone Number:</span> 
		<span class="col-md-6">{{ customer.phoneNumber }}</span>
	</div>
	<div class="row">
		<span class="col-md-6">Email:</span> 
		<span class="col-md-6">{{ customer.email }}</span>
	</div>
</div>
